// Colors

$winter-wood-bg: #f6f1e0;
$winter-wood-content: #dcd6c1;

// #B1C9BE
// #DCD6C1
// #F6F1E0
// #ECAF8D
// #575D39
// #8F8F72

// Sizes

// Dropshadows
$ds-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
