@import "variables.scss";
@import "fonts.scss";

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: Montserrat;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  padding: 2rem 2rem 0 2rem;
  background-color: antiquewhite;
}
